/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --primary-color: #009FFD ; /*Celestial Blue*/
    --secondary-color: #FFC857 ; /*Golden Yellow*/
    --tertiary-color: #E0F4F1 ; /*Soft Mint Green*/ 
    --quaternary-color: #4A4A4A ; /*Charcoal Gray*/
    

}

/*Global Styles*/

/* Header */

/* Navbar */

/* Main content */

/* Hero */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.png") no-repeat center center/cover;
}
